/* --- Global Resets & Variables --- */
:root {
    --bg-color: #ffffff;
    --surface-color: #f8f9fb;
    --text-main: #111827;
    --text-muted: #6b7280;
    --dark-bg: #0f172a;
    --accent: #ea580c;
    --border: #e5e7eb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--text-main);
    background-color: var(--bg-color);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, .font-heading {
    font-family: 'Manrope', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* --- Header --- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 2rem;
    background: #fff;
    border-bottom: 1px solid var(--border);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: -0.05em;
}

nav ul {
    display: flex;
    gap: 2.5rem;
}

nav a {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--text-muted);
    transition: color 0.2s;
}

nav a:hover {
    color: var(--text-main);
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.search-bar {
    display: flex;
    align-items: center;
    background:rgb(228, 226, 226);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    gap: 0.5rem;
}

.search-bar input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 0.75rem;
    width: 150px;
}

.search-bar .material-symbols-outlined {
    font-size: 1.25rem;
    color: var(--text-muted);
}

.icons-group {
    display: flex;
    gap: 1rem;
    color: var(--text-main);
}

.icons-group span {
    font-size: 1.25rem;
    cursor: pointer;
}

.auth-btn {
    background: var(--text-main);
    color: #fff;
    padding: 0.85rem 1.25rem;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border: 1px solid var(--text-main);
    border-radius: 0.25rem;
    transition: all 0.3s ease;
    font-family: inherit;
    cursor: pointer;
}

.auth-btn:hover {
    background: var(--accent);
    border-color: var(--accent);
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@media (max-width: 768px) {
    header nav { display: none; }
}
